* {
  box-sizing: border-box;
}

.wrapper {
  height: 300px;
  display: flex;
  align-content: center;
  align-items: center;
}

.item-container {
  position: relative;
  height: 300px;
  width: 100%;
}
.item {
  position: absolute;
  padding: 4px;
  margin: 2px;
  transition: all 0.2s ease-out;
  left: 0;
  right: 0;
  bottom: 0;
}